$font: 'Amble'
$fontLight: 'AmbleLight'
$fontBold: 'AmbleBold'
$titleFont: 'BigJohn'
$slim: 'SlimJoe'


$mainColor: #222222
$mainColorLight: #fff
$colorLight: #f4f4f4
$headerBgColor: #d56e4e
$separatorSmall: #d87843
$dark: #000
$dotActive: #d87843
$dotNonActive: #d5d5d5
$bgContactInfo: #f2f2f2
$bgContactForm: #e4e4e4

$width: 1170px

$phone: 550px
$tablet: 830px
$laptop: 992px
$desktop: 1200px